<tr>
    <td class=" white-text">

        {{track_number}}. {{name}}

    </td>
    <td>
        <audio controls preload="auto">
            <source src="{{preview_url}}">
        </audio>
    </td>
</tr>
