

<div class="row">
    <form class="col s12" action="/artists">
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <input  id="artist" type="text" name="artists" class="white-text validate">
                <label for="artist"> Artist</label>
                <button type="submit" class="waves-effect waves-light btn">
                    <i class="material-icons right">send</i>buscar
                </button>
            </div>
        </div>
    </form>
</div>